header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert {
    position: fixed;
    height: 60px;
    width: 300px;
    background-color: blue;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
    z-index: 10;
}