header {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #192a32;
}

.header-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.alert {
    position: fixed;
    height: 60px;
    width: 300px;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 10px 15px 4px rgba(0, 0, 0, 0.3);
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}