header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #192a32;
    z-index: 100;
    box-shadow: 0 9px #102129;
}

.header-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: #f1b238;
    letter-spacing: 2px;
}

/*Media Querries for mobile*/

@media screen and (min-width: 0px) and (max-width: 650px) {
    header h1 {
        font-size: 25px;
    }
}