.quizes-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    align-items: center;
}
.my-quizes-page{
    padding: 0 10px;
}
.quiz-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #1f3540;
    margin: 20px 0;
    padding: 20px 20px;
    border-radius: 10px;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.quiz-date{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(180, 180, 180);
}
