.quizes-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    align-items: center;
}

.quiz-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin: 10px 0;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.edit-quiz-page{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    align-items: center;
}
