.teachers-room,
.student-room,
.student-home {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    align-items: center;
}

.student-quiz,
.teacher-quiz {
    display: flex;
    flex-direction: column;
}

.report{
    display: flex;
    flex-direction: column;
}

.student-report{
    margin: 5px;
    border: 2px solid black;
}