@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #192a32;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;

}

.home-page,
.new-quiz-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 100px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
}

.my-reports-page,
.my-quizes-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
}

.new-quiz-filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
}

.edit-quiz-dialog {
    padding: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    background-color: white;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 9px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 11px rgba(255, 255, 255, 0.4);
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 5px rgba(255, 255, 255, 0.2);
}

a {
    text-decoration: none;
}

input {
    width: 90%;
    height: 50px;
    max-width: 600px;
    border: none;
    background-color: #274250;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: white;
    margin-top: 30px;
    margin-bottom: 9px;
    font-size: 16px;
    box-shadow: 0 9px #102129;
}

.new-quiz-dialog {
    border-radius: 10px;
    padding: 30px 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: 75vw;
    max-height: 400px;
    max-width: 400px;
    background-color: #192a32;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    box-shadow: 5px 10px 15px 4px rgba(0, 0, 0, 0.3);
}
.new-quiz-actions{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.new-quiz-dialog input {
    width: 100%;
}


/*Media Querries for mobile*/

@media screen and (min-width: 0px) and (max-width: 650px) {
    button {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px 10px;
        color: white;
        border: none;
        outline: none;
        box-shadow: 0 5px #ffffff4d;
        border-radius: 10px;
    }

    button:hover {
        transform: translateY(-2px);
        box-shadow: 0 7px #ffffff80;
    }

    button:active {
        transform: translateY(4px);
        box-shadow: 0 1px #ffffff33;
    }

    input {
        width: 90vw;
        height: 40px;
        max-width: 600px;
        border: none;
        background-color: #274250;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        box-shadow: 0 9px #102129;
    }

    .new-quiz-dialog {
        border-radius: 10px;
        padding: 30px 10px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        min-width: fit-content;
        width: 80%;
        background-color: #192a32;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 20px;
        box-shadow: 5px 10px 15px 4px rgba(0, 0, 0, 0.3);
    }
}